%h2 Log in

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row
    .field.left
      = f.label :email
      %br
      = f.email_field :email, autofocus: true, autocomplete: "email"

  .row
    .field.left
      = f.label :password
      %br
      = f.password_field :password, autocomplete: "current-password"

  - if devise_mapping.rememberable?
    .row
      .field.left
        = f.check_box :remember_me
        = f.label :remember_me

  .actions
    = f.submit "Log in"

= render "users/shared/links"
