@import "materialize/components/color-variables";
$primary-color: color("grey", "base") !default;
$secondary-color: color("green", "base") !default;
$link-color: color("green", "base") !default;
@import "materialize";
@import "material_icons";
@import "local";
@import "navigation";
@import "helpers";