$size-base: 14px;

.inline-block {
  display: inline-block;
}

// Margin and padding rules generator, example: p-top-2 = padding-top: 2rem;
@for $value from 0 through 10 {
  @each $attribute in margin, padding {

    .#{str-slice($attribute, 0, 1)}-#{$value} {
      #{$attribute}: $size-base * $value;
      #{$attribute}: #{$value}rem;
    }

    @each $direction in top, right, bottom, left {
      // class name ie.: .p-top-2
      $class-name: '.#{str-slice($attribute, 0, 1)}-#{$direction}-#{$value}';
      // ie.: margin-bottom
      $attribute-name: #{$attribute}-#{$direction};

      #{$class-name} {
        #{$attribute-name}: $size-base * $value;
        #{$attribute-name}: #{$value}rem;
      }
    }
  }
}
