// Navigation **************************************************************************************************

// Top menu
nav {
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: none;
  border-bottom: 1px solid color("grey", "lighten-2");

  .brand-logo {
    margin: 0 2rem;
    font-size: 1.5rem
  }

  ul {
    vertical-align: middle;
    margin-left: auto;
    margin-right: 2rem;

    li {
      a {
        color: rgba($tabs-text-color, .7);
        font-size: 1.3rem;
        transition: color .3s;

        &:hover {
          background-color: transparent;
          color: $link-color;
        }

        &.active {
          color: $link-color;
        }
      }
    }
  }

  i.menu {
    color: rgba($tabs-text-color, .7);
  }

  .nav-wrapper i,
  a.button-collapse,
  a.button-collapse i  {
    height: $navbar-height;
    line-height: $navbar-line-height;
  }
}
