.container.footer
  .row
    .col.s12.center-align
      IP Rep version
      %small
        = GVB.version
      %br
      %small 
        API documentation can be found at
        = link_to "https://iprep.docs.apiary.io/", "https://iprep.docs.apiary.io/" 
      %br
      %span{style: "font-size: 10px"}
        Created by Lukáš Bauer
        