.navbar-fixed
  %nav
    .nav-wrapper
      = link_to root_path, {class: 'light-blue-text', style: "font-size:20px; padding-left: 2em"} do
        IP Rep
        //= image_tag('weleda_logo.png', class: "brand-logo")
      %ul.right
        - if user_signed_in?
          %li
            %span.grey-text
              = link_to current_user.email, "/users/#{current_user.id}", class: "#{'active' if current_page?('/users/' + current_user.id.to_s )}"
        %li
          = link_to 'My IP list', root_path, class: "#{'active' if current_page?(root_path)}"
        - if user_signed_in?
          %li
            = link_to 'Sign out', destroy_user_session_path, class: "#{'active' if current_page?(destroy_user_session_path)}", method: :delete
        - else
          %li
            = link_to 'Sign in', new_user_session_path, class: "#{'active' if current_page?(new_user_session_path)}"


