%h2 Sign up

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .row
    .field.left
      = f.label :email
      %br
      = f.email_field :email, autofocus: true, autocomplete: "email"

  .row
    .field.left
      = f.label :password
      - if @minimum_password_length
        %em
          = @minimum_password_length
          characters minimum
      %br
      = f.password_field :password, autocomplete: "new-password"

  .row
    .field.left
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation, autocomplete: "new-password"

  .actions
    = f.submit "Sign up"

= render "users/shared/links"
