= form_for @ip do |f|
  - if @ip.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ip.errors.count, "error")} prohibited this ip from being saved:"
      %ul
        - @ip.errors.full_messages.each do |msg|
          %li= msg
  .row
    .field.left
      = f.label :ip_address
      = f.text_field :ip_address
  .actions
    = f.submit 'Save'
