%h1 Listing ips

%table
  %thead
    %tr
      %th Ip address
      %th Last checked at
      %th Hostname
      %th Country
      %th Is listed
      %th
      %th

  %tbody
    - @ips.each do |ip|
      %tr
        %td= ip.ip_address
        %td= ip.last_checked_at
        %td= ip.hostname
        %td= ip.country
        %td= ip.is_listed
        %td= link_to 'Show', ip_path(ip.ip_address)
        %td= link_to 'Destroy', ip_path(ip.ip_address), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ip', new_ip_path
