%p#notice= notice

%p
  %b Ip address:
  = @ip.ip_address
%p
  %b Last checked at:
  = @ip.last_checked_at
%p
  %b Hostname:
  = @ip.hostname
%p
  %b City:
  = @ip.city
%p
  %b Region:
  = @ip.region
%p
  %b Country:
  = @ip.country
%p
  %b Is listed:
  = @ip.is_listed
%p
  %b Is malware:
  = @ip.is_malware
%p
  %b Is spyware:
  = @ip.is_spyware
%p
  %b Is hijacked:
  = @ip.is_hijacked
%p
  %b Is bot:
  = @ip.is_bot
%p
  %b Is spam bot:
  = @ip.is_spam_bot
%p
  %b Is exploit bot:
  = @ip.is_exploit_bot

= link_to 'Back', ips_path
